In [3]:
# banking application


# attributes
acc_no = 100
acc_name = "Nafis"
acc_bal = 10000

#methods

def deposit(curr_bal, amount):
    return curr_bal + amount

def display_bal(curr_bal):
    print(curr_bal)

In [5]:
acc_bal = deposit(acc_bal,500)
acc_bal

10500

In [7]:
class bankAcc:
    pass

#object of class
c1 = bankAcc()

In [8]:
isinstance(c1, bankAcc)

True

In [9]:
print(type(c1))

<class '__main__.bankAcc'>

In [10]:
#Instantation: Process of creating an instance of a class/object
c1 = bankAcc() #object 1
c2 = bankAcc() #object 2
bankAcc()      #object 3, called but not stored to a var

In [12]:
#assinging attributes to a object
c1.acc_no = 10
c1.acc_name = "Nafis"
c1.acc_bal = 1000

In [24]:
class bankAcc:
    def display_bal(self):
        print("Account balance for", self.acc_name, "is", self.acc_bal)

In [17]:
c1 = bankAcc()
c1.acc_no = 10
c1.acc_name = "Nafis"
c1.acc_bal = 1000

In [18]:
bankAcc.display_bal(c1)

Account balance for Nafis is 1000

In [19]:
c2 = bankAcc()
c2.acc_no = 100
c2.acc_name = "Chowdhury"
c2.acc_bal = 100

In [20]:
bankAcc.display_bal(c2)

Account balance for Chowdhury is 100

In [21]:
c2.display_bal()

Account balance for Chowdhury is 100

In [22]:
c1.display_bal()

Account balance for Nafis is 1000

In [25]:
class bankAcc:
    def display_bal(self):
        print("Account balance for", self.acc_name, "is", self.acc_bal)
        
    def deposit(self, amount):
        self.acc_bal = self.acc_bal + amount

In [32]:
c1 = bankAcc()
c1.acc_no = 10
c1.acc_name = "Nafis"
c1.acc_bal = 1000

In [33]:

c1.deposit(500)
c1.display_bal()

Account balance for Nafis is 1500

### intialiser: initialises common instance variables for every object that are created

In [39]:
class bankAcc:
    #initialiser function
    def __init__(self, acc_id, acc_name, acc_bal):
        self.acc_id = acc_id
        self.acc_name = acc_name
        self.acc_bal = acc_bal
    
    def display_bal(self):
        print("Account balance for", self.acc_name, "is", self.acc_bal)
        
    def deposit(self, amount):
        self.acc_bal = self.acc_bal + amount

In [35]:
c1 = bankAcc(100, "Nafis", 1000)

In [36]:
c1.display_bal()

Account balance for Nafis is 1000

In [37]:
c1.deposit(500)

In [38]:
c1.display_bal()

Account balance for Nafis is 1500

In [40]:
c1 = bankAcc(100, "Nafis")

TypeError: __init__() missing 1 required positional argument: 'acc_bal'

## Every instance of class bankAcc must have 3 instance variables

In [42]:
c2 = bankAcc(12, "Chowdhury", 45)

In [43]:
c2.pan_id = "bakafdd"

In [45]:
c2.pan_id

'bakafdd'

In [47]:
"""
Constrcutor allocated memory and creates common instance variables. (C++/java)
Initialiser only creates common instance variables. (python does not have concept for constructor.)
"""

'\nconstrcutor allocated memory and creates common instance variables. Initialiser only creates common instance variables.\n'

### Pillars of OOP
- Encapsulation, Abstraction, Polymorphism, Inheritance, 
- Instance variable vs Class Variable

In [51]:
class Phone:
    def __init__(self, phone):
        self.phone = phone

class ApplePhone:
    def __init__(self, model):
        self.model = model

In [52]:
ap1 = ApplePhone("iphone 14")
type(ap1)

__main__.ApplePhone

In [53]:
class bankAcc:
    #initialiser function
    def __init__(self, acc_id, acc_name, acc_bal):
        self.acc_id = acc_id
        self.acc_name = acc_name
        self.acc_bal = acc_bal
    
    def display_bal(self):
        print("Account balance for", self.acc_name, "is", self.acc_bal)
        
    def deposit(self, amount):
        self.acc_bal = self.acc_bal + amount
        
    def withdraw(self, amount):
        self.acc_bal = self.acc_bal - amount

In [54]:
c1 = bankAcc(100, "Nafis", 10000)

In [55]:
c1.display_bal()

Account balance for Nafis is 10000

In [56]:
c1.withdraw(200)

In [57]:
c1.display_bal()

Account balance for Nafis is 9800

In [77]:
class fruits:
    def __init__(self, price):
        self.price = price

obj=fruits(50)
obj.quantity=10
obj.bags=2

obj.__dict__

{'price': 50, 'quantity': 10, 'bags': 2}

In [78]:
class Player:
  # class variables
  club = 'United'
  sport = 'Football'

  def __init__(self, name):
    # Instance variable
    self.name = name

  def show(self):
    print('Name:', self.name, 'Club:', self.club, 'Sports:', self.sport, end=" ")

p1 = Player('Sanjay')
p1.club = 'Real Madrid'
p1.show()

p2 = Player('Ravi')
p2.sport = 'Tennis'
p2.show()

Name: Sanjay Club: Real Madrid Sports: Football Name: Ravi Club: United Sports: Tennis

NameError: name 'blabla' is not defined

In [96]:
class Bill():

    def __init__(self, prev_read, cur_read):
        #YOUR CODE GOESS HERE
        self.prev_read = prev_read
        self.cur_read = cur_read
        
        
        
    def total_bill(self):
         total=0.0
        #YOUR CODE GOESS HERE
         units = self.cur_read - self.prev_read
         base = 150
         if units <=100:
            total = units*3.5
         elif units >100 and units<=200:
            total = 100*3.5 + (units-100)*5
         else:
            total = 100*3.5 + 100*5 + (units-200)*8
        
         return total + base

In [97]:
b1 = Bill(200,650)

In [81]:
type(b1)

__main__.Bill

In [98]:
b1.total_bill()

3000.0

In [87]:
b1.cur_read

650

In [3]:
class A:
    def __init__(self):
        print("New object created")

In [4]:
A()
obj = A()
print(id(obj))
obj = A()
print(id(obj))
if A():
    print(A())

New object created
New object created
4365581088
New object created
4365579552
New object created
New object created
<__main__.A object at 0x104357b20>

In [6]:
if obj==A():
    print(A())

New object created

In [7]:
print(obj)

<__main__.A object at 0x104357520>

In [10]:
class A:
    def __init__(self, name):
        self.name = name
    
a1 = A("Bunty")
a2 = A("Bunty")
a3=a1
print(id(a1) == id(a3))

True

In [13]:
class MyClass:
    def show_id(self):
        return id(self)
    
a1 = MyClass()
print(id(a1))
print(a1.show_id())

4383588112
4383588112

- Instance variables: variables that belong to object
- Class variables: also known as static variable
  - It will be defined just under the class
  - It is a shared variable accessible to all intances of class

In [19]:
class A():
    #class var
    var1 = "Hello" #Class variable
    
    #initialiser
    def __init__(self,var2,var3):
        self.var2=var2 #instance variable
        var3=var3 #local variable

In [20]:
a = A(2,3)

In [21]:
a.var2

2

In [22]:
a.var3

AttributeError: 'A' object has no attribute 'var3'

In [23]:
a.var1

'Hello'

In [24]:
b = A(3,4)

In [25]:
b.var1

'Hello'

In [26]:
print(id(b.var1))
print(id(a.var1))

4364875952
4364875952

In [30]:
print(A.var1)
print(id(A.var1)) #same id as instances

Hello
4364875952

In [31]:
print(a)

<__main__.A object at 0x1056790a0>

In [2]:
class Employee:
    company = "scaler"
    
    def __init__(self, name):
        self.name = name

In [6]:
e1 = Employee("Nafis")
e2 = Employee("Chowdhury")

print(e1.company)
print(e2.company)
print(Employee.company)
print(id(Employee.company), id(e1.company), id(e2.company))

scaler
scaler
scaler
4502261104 4502261104 4502261104

In [7]:
#change Class variable using Class variable itself
#method 1
Employee.company = "Interviewbit"

print(e1.company)
print(e2.company)
print(Employee.company)
print(id(Employee.company), id(e1.company), id(e2.company))

Interviewbit
Interviewbit
Interviewbit
4535113264 4535113264 4535113264

In [10]:
#method 2
# change using object
e1.company = "Scaler"
#class varibale overwritten b class variable

print(e1.company) 
print(e2.company)
print(Employee.company)
print(id(Employee.company), id(e1.company), id(e2.company))

Scaler
Interviewbit
Interviewbit
4535113264 4536354608 4535113264

In [9]:
e1.__dict__, e2.__dict__

({'name': 'Nafis', 'company': 'Scaler'}, {'name': 'Chowdhury'})

In [11]:
class A:
    counter= 0
    def __init__(self):
      A.counter+=1 #class

A() #object 1

obj1 = A() #object 2

if A(): #object 3
    print(A.counter)

3

In [13]:
class A:
    counter= 0
    def __init__(self):
      self.counter+=1 #OBJECT

A() #object 1

obj1 = A() #object 2

if A(): #object 3
    print(A.counter) #CLASS VARIBALE
    print(obj1.counter) #OBJECT VARIABLE

0
1

In [16]:
class A:
    counter= 0
    def __init__(self):
      self.counter+=1 #OBJECT

A() #object 1

obj1 = A() #object 2
obj1 = A() #object 3
obj2 = A() #object 4

if A(): #object 5
    print(A.counter) #CLASS VARIBALE
    print(obj1.counter) #OBJECT VARIABLE
    print(obj2.counter) #object variable

0
1
1

In [19]:
class Employee:
    
    #class var
    company = ["scaler"] #mutable
    
    #constructor
    def __init__(self, name):
        self.name = name
        
    #chnages beaviour of print
    def __str__(self):
        return "Employee name is " +  self.name
    
    # changes == beaviour
    def __eq__(self, obj2):
        return self.name == obj2.name

In [21]:
#update mutable using object
e1= Employee("Nafis")
e2= Employee("Chowdhury")

e1.company.append("Interviewbit")

print(e1.company)
print(e2.company)
print(Employee.company)

# all three are changing although objecjt is used to mutate
"""
All of the objects (instances) of the Employee class share the same class attribute company, 
which is a mutable object (list). When you modify the company attribute of an instance, you are actually 
modifying the same list object that all other instances are sharing. Therefore, when you print the 
company attribute of another instance or the Employee class, you will see the updated value.

"""

['scaler', 'Interviewbit', 'Interviewbit']
['scaler', 'Interviewbit', 'Interviewbit']
['scaler', 'Interviewbit', 'Interviewbit']

In [26]:
class Employee:
    
    
    #constructor
    def __init__(self, name, company):
        self.name = name
        self.company = [company] #mutable object variable

In [27]:
e1 = Employee("nafis", "scaler")
e2 = Employee("Chowdhury", "scaler")

print(e1.company, e2.company)

['scaler'] ['scaler']

In [28]:
e1.company.append("Interviewbit")

In [31]:
print(e1.company, e2.company)#, Employee.company)

['scaler', 'Interviewbit'] ['scaler']

## Magic Methods

In [39]:
class Employee:
    
    
    
    #constructor
    def __init__(self, name, company):
        self.name = name
        self.company = [company] #mutable object variable
        
    #chnages beaviour of print
    def __str__(self):
        return "Employee name is " +  self.name

In [36]:
e1 = Employee("nafis", "scaler")
e2 = Employee("Chowdhury", "scaler")

print(e1, e2, sep= "\n")

Employee name is nafis
Employee name is Chowdhury

In [38]:
dir(print())

['__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [40]:
class Employee:
    
    #constructor
    def __init__(self, name, company):
        self.name = name
        self.company = [company] #mutable object variable
        
    #chnages beaviour of print
    def __str__(self):
        return "Employee name is " +  self.name
    
    # changes == beaviour
    def __eq__(self, obj2):
        return self.name == obj2.name

In [41]:
e1 = Employee("nafis", "scaler")
e2 = Employee("Chowdhury", "scaler")

In [42]:
e1 == e2

False

In [43]:
e1.name, e2.name

('nafis', 'Chowdhury')

In [44]:
e1 = Employee("nafis", "scaler")
e2 = Employee("nafis", "scaler")

In [45]:
e1==e2

True

## Pillars of OOP

- Encapsulation
    - Encapsulation is the practice of keeping the implementation details of an object hidden from the outside world, and only exposing a public interface for interacting with the object. This helps to keep the code modular, maintainable, and reduces the risk of unintended side effects caused by external code.

In [65]:
class BankAccount:
    def __init__(self, account_number, balance):
        self.account_number = account_number
        self.__balance = balance  # private attribute
        
    def deposit(self, amount):
        self.__balance += amount
        
    def withdraw(self, amount):
        if self.__balance >= amount:
            self.__balance -= amount
        else:
            print("Insufficient balance")
            
    def get_balance(self):
        return self.__balance
    
account1 = BankAccount(123456, 5000)
account1.deposit(1000)
account1.withdraw(2000)
print(account1.get_balance())  # Output: 4000

4000

#### In this example, the BankAccount class has a private attribute __balance that is hidden from the outside world. The public methods deposit, withdraw, and get_balance provide a public interface for interacting with the object. These methods can access the private attribute __balance, but external code cannot.

In [49]:
class DSML:
    
    def teach(self):
        print("Teaches DSML")

class Academy:
    
    def teach(self):
        print("Teaches Soft Dev")

- Inheritance: 
    - Inheritance is the ability to create a new class by deriving it from an existing class. The new class inherits all the properties and behaviors of the existing class, and can also add new properties and behaviors or modify the existing ones.

In [54]:
class Animal:
    def __init__(self, name):
        self.name = name
        
    def make_sound(self):
        pass
    
class Dog(Animal):
    def make_sound(self):
        print("Woof")
        
class Cat(Animal):
    def make_sound(self):
        print("Meow")
        
dog1 = Dog("Rex")
cat1 = Cat("Fluffy")
dog1.make_sound()  # Output: Woof
cat1.make_sound()  # Output: Meow

Woof
Meow

#### In this example, the Dog and Cat classes inherit from the Animal class. They share the name attribute and have their own implementation of the make_sound method.

- Polymorphism: 
    - Polymorphism is the ability of an object to take on multiple forms. In OOP, it means that different objects can be treated as if they were the same type, as long as they have a common interface.

In [55]:
class Shape:
    def area(self):
        pass
    
class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height
        
    def area(self):
        return self.width * self.height
    
class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius
        
    def area(self):
        return 3.14 * self.radius ** 2
    
shapes = [Rectangle(5, 10), Circle(7)]
for shape in shapes:
    print(shape.area())

50
153.86

#### In this example, the Rectangle and Circle classes inherit from the Shape class and have their own implementation of the area method. The shapes list contains objects of both classes, but they can be treated as if they were the same type because they share the area method.

- Abstraction: 
    - Abstraction is the practice of hiding unnecessary details and complexity from the user, and only exposing the essential features of an object. This helps to simplify the interface and make the object easier to use

In [58]:
class Instructor():
    
    def __init__(self, name, batch):
        self.name = name
        self.batch = batch
    
class DSML(Instructor):
    
    def __init__(self, name, batch, IDE):
    #method1
        Instructor.__init__(self, name, batch)
        self.IDE = IDE
    
    def task(self):
        print("teaches DS & ML")
        
class Academy(Instructor):
    
    def __init__(self, name, batch, software):
    #method2 
        super().__init__(name, batch)
        self.software = software
    
    def task(self):
        print("Teaches Soft Dev")

In [61]:
t1 = DSML("nafis", "sep22", "jupyter")
t2 = Academy("chowdhury", "dec22", "root")

In [64]:
t1.name, t2.batch

('nafis', 'dec22')

- private variables
    - can only be accessed only inside class
    - cannot be be inherited
    - there in no true private variable in python

In [66]:
class BankAccount:
    def __init__(self, account_number, balance):
        self.account_number = account_number
        self.__balance = balance  # private attribute
        
    def deposit(self, amount):
        self.__balance += amount
        
    def withdraw(self, amount):
        if self.__balance >= amount:
            self.__balance -= amount
        else:
            print("Insufficient balance")
            
    def get_balance(self):
        return self.__balance
    
account1 = BankAccount(123456, 5000)
account1.deposit(1000)
account1.withdraw(2000)
account1.__balance()  
#print(account1.get_balance())  # Output: 4000

AttributeError: 'BankAccount' object has no attribute '__balance'

In [67]:
account1.__dict__

{'account_number': 123456, '_BankAccount__balance': 4000}

In [70]:
account1._BankAccount__balance

4000

In [73]:
account1._BankAccount__balance = 1000000
print(account1._BankAccount__balance)

1000000

In [74]:
class football:
    final_res= 'lose'
    def __init__(self,name,score):
        self.name = name
        self.score = score
        self.final_res = 'lose'
    
    def calc(self, winning_score):
        if self.score>winning_score:
            self.final_res='win'
match = football('Juventus',3)
match.calc(2)
print(football.final_res, match.final_res)

lose win

In [80]:
class Student:
  # Class variable
  subject_name = 'Math for Machine Learning'

  # constructor
  def __init__(self, name, roll_no):
    self.name = name
    self.roll_no = roll_no

# outside the class
# create Objects
s1 = Student('Emma', 10) 
#s1.subject_name = 'Machine Learning'
#_____________________#blank2

print(s1.name, s1.roll_no, s1.subject_name)

Emma 10 Math for Machine Learning

In [81]:
class Student:
    def __init__(self,roll,marks):
        self.roll = roll
        self.marks = marks
    def display(self):
        print('Roll:', self.roll,'Marks:',self.marks, end=" ")

student1 = Student(34,'A')
student1.age = 17
print(student1.display(), 'Age:',student1.age)  
#none coming since display func is not returning anything

Roll: 34 Marks: A None Age: 17

In [82]:
class solution:
  def initial(self,sets):
    return self.final(sets)
 
  def final(self, sets):
    return list(map(lambda x: ((x**3)%2==0,x**3),sets))

print(solution().initial([4,5,6]))

[(True, 64), (False, 125), (True, 216)]

In [83]:
sets = [1,2,3]

list(map(lambda x: ((x**3)%2==0,x**3),sets))

[(False, 1), (True, 8), (False, 27)]