# Sets

#### -> Set is an unordered (cannot be indexed) collection of itmes. 

#### -> Every element is unique

#### -> Set is mutable

## Set Creation

In [2]:
s = {1,2,3,4}
print(type(s))

<class 'set'>

In [4]:
s  = set([1,2,3,4,2,3,4]) #set doesnt allow duplicates
s

{1, 2, 3, 4}

In [6]:
#initialise a set with set() method
s = set()
print(type(s))

<class 'set'>

## Add element to Set

In [10]:
s ={1,2,3,3} #sets are mutable
s.add(5)
s

{1, 2, 3, 5}

In [13]:
# add multiple elemmets
s.update([4,5,6,7,])
s

{1, 2, 3, 4, 5, 6, 7}

## remove elements from set

In [16]:
S = {1,2,3,4,5}
S.discard(5)
S

{1, 2, 3, 4}

In [17]:
S.remove(5) #throws error if element absent in set

KeyError: 5

In [21]:
S.remove(4)
S

{1, 2, 3}

In [23]:
S.discard(7) # doesnt raise error if element is absetn

S

{1, 2, 3}

In [24]:
S

{1, 2, 3}

In [26]:
S.pop() # removes one elemet at random

1

In [27]:
S

{2, 3}

In [28]:
S.pop()

2

In [29]:
S

{3}

## Python Set operations

In [30]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

In [31]:
#union
set1 | set2

{1, 2, 3, 4, 5, 6, 7, 8}

In [32]:
#union
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [33]:
#intersection
set1 & set2

{4, 5}

In [34]:
#intersection
set1.intersection(set2)

{4, 5}

In [35]:
# set difference: set of elemets present in 1 and not in set2
set1 - set2

{1, 2, 3}

In [36]:
set1.difference(set2)

{1, 2, 3}

In [37]:
#symmeetric differenr: set of elemetns presnt in both 1 and 2 except those common in both
set1^set2

{1, 2, 3, 6, 7, 8}

In [38]:
set1.symmetric_difference(set2)

{1, 2, 3, 6, 7, 8}

In [41]:
# find issubset()
X = {1,2,3,4,5,6}
Y = {3,4}

print("set X is subset of set Y? Ans: {}".format(X.issubset(Y)))
print("set Y is subset of set X? Ans: {}".format(Y.issubset(X)))

set X is subset of set Y? Ans: False
set Y is subset of set X? Ans: True

# Frozen sets

 ####   Frozen sets cant be changed once assinged. While Tuple are immutable lists, frozen sets are immutable sets.

In [42]:
set1 = frozenset([1,2,3,4,5])
set2 = frozenset([2,3,4,5,6,7])

In [43]:
set1.add(3)

AttributeError: 'frozenset' object has no attribute 'add'

In [45]:
t=(1,2,3)
t[::-1]

(3, 2, 1)

In [48]:
tuple({"nafis"})

('nafis',)

In [49]:
set1 ={1,2,3}

In [50]:
set1.add(4)

In [51]:
set1

{1, 2, 3, 4}

In [52]:
id(set1)

4631784128

In [53]:
set1.add(5)

In [54]:
set1

{1, 2, 3, 4, 5}

In [56]:
id(set1)

4631784128

In [1]:
set1 = {1, 2, 4}
set2 = {4, 5, 6}
print(len(set1 + set2))

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [3]:
S = set(["scaler","academy"])
S

{'academy', 'scaler'}

In [6]:
#S = set("scaler","academy")
S = set("scaler academy")
S

{' ', 'a', 'c', 'd', 'e', 'l', 'm', 'r', 's', 'y'}

In [8]:
S = {"Scale", "awesome"}
S

{'Scale', 'awesome'}

In [9]:
sent1 = "in data analysis we use data and process it further to create better interpreted data"
sent2 = "more and more data will be passively collected"

In [27]:
lst1 = set(sent1.split()) #| set(sent2.split())

In [28]:
lst1

{'analysis',
 'and',
 'better',
 'create',
 'data',
 'further',
 'in',
 'interpreted',
 'it',
 'process',
 'to',
 'use',
 'we'}

In [29]:
len(lst1)

13

In [30]:
lst2 = set(sent2.split())
len(lst2)

7

In [32]:
lst = lst1.union(lst2)

In [33]:
len(lst)

18